.Card-backdrop-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.Conteiner-CardLogin {
    background-color: #181717;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5rem;
    height: 35rem;
    width: 55rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
}

.Button-close {
    position: relative;
    left: 26rem;
    top: -4.5rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    border-radius: 50%;
    font-weight: 900;
    background-color: #252424;
    border: none;
    cursor: pointer;
    color: #0a0a0a;
}

.Button-close:hover {
    background-color: #0a0a0a;
    color: #00ac00;
}
.Button-close:active {
    transform: scale(0.95);
}
.Button-close:focus {
    outline: none;
}

.Button-close:focus-visible {
    outline: 2px solid #ffffff;
    outline-offset: 2px;
}

