
:root {
  --background: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Panel-project {
  height: 100rem;
  width: 100%;
}

.Aurora-container {
  position: relative;
  height: 3%;
  width: 100%;
  z-index: 0;
}

.min-text {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.revealed {
  text-align: center;
  color: #ffffff;
  display: flex;
  margin: 2rem 7rem;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 10%;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
    z-index: 1;
}
